
<header class="header fixed-top clearfix">
  <div class="brand">
    <a href="index.html" class="logo">
      <%= image_tag 'wtclogo.png' %>
    </a>
  </div>
  <div class="nav notify-row" id="top_menu">
  </div>
  <div class="top-nav clearfix">
    <ul class="nav pull-right top-menu">
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <img alt="" src="<%= current_user.profile_pic %>">
          <span class="username"><%= current_user.name %></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu extended logout">
          <li><%= link_to('<i class="fa fa-key"></i> Log Out'.html_safe, destroy_user_session_path, :method => :delete) %><li>
        </ul>
      </li>
    </ul>
  </div>
</header>
