<div class="modal-header">
  <a href="" class="btn pull-right" ng-click="close()">&times;</a>
  <h3 class="modal-title">About Us</h3>
</div>
<div class="modal-body">
  <p>The site is developed by an interdenominational Christian organization: Cru. We hope that you will consider the possibility of knowing God and his love for you. There is no other relationship we can experience that so completely satisfies the longings of the human heart and mind.</p>
  <p>– Questions about the video? Email: <a href="mailto:FallingPlatesVideo@gmail.com">FallingPlatesVideo@gmail.com</a></p>
  <p>– Join the conversation on Twitter: <a href="http://twitter.com/FallingPlates" target="_blank">#FallingPlates</a></p>
  <p>– Concept, Strategy and Produced by Cru (<a href="http://www.cru.org" target="_blank">www.cru.org</a>)</p>
  <p>– Concept, Written, Shot &amp; Edited by Strong Films (<a href="http://strongfilms.org" target="_blank">http://strongfilms.org</a>)</p>
  <p>– Contact person: Howard Crutsinger (<a href="http://twitter.com/howardcrut" target="_blank">@howardcrut</a>)</p><br><br>
</div>