<% content_for(:title) { t('routes.translations').titleize } %>
<% content_for(:subtitle) { } %>
<div class="col-md-12">
  <%- if @translations.empty? %>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 empty-state text-center">
      <h2><%= t 'translations.empty.title' %></h2>
      <p><%= t 'translations.empty.description' %></p>
    </div>
  </div>
  <% else %>
    <div class="campaigns">
      <div class="row">
        <% @translations.in_groups(3) do |translation_group| %>
          <div class="col-md-4">
            <% translation_group.each do |translation| %>
              <% if translation %>
                <% Globalize.with_locale(translation.campaign.locale.try(:code) || I18n.locale) do %>
                  <%= render partial: 'campaign', locals: { translation: translation, campaign: translation.campaign.try(:decorate) } %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end -%>
</div>