<div class="row">
  <div class="row-same-height">
    <div class="col-md-4 col-md-height error-icon">
      <%= fa_icon 'compass' %>
    </div>
    <div class="col-md-8 col-md-height col-middle error-text">
      <h1>We can't find what you're looking for<br>Looks like you're out of luck</h1>
      <h2>We even checked out back and there was nothing</h2>
    </div>
  </div>
</div>
<div class="error-footer">
  <div class="pull-right">
  <a href="https://app.watchthinkchat.com">
    WatchThinkChat
  </a>
  &copy; <%= Date.today.year %>
  </div>
  Powered by
  <a href="http://www.cru.org">
    Cru
  </a>
</div>