<section ng-if="campaign.growthspace.enabled">
  <div id="main" class="form">
    <div class="container" ng-show="!growthChallengeSubscribe">
        <div class="col-sm-12">
          <h1>{{campaign.growthspace.title}}</h1>
          <p>{{campaign.growthspace.description}}</p>
          <h2 class="red-heading">{{visitorInfo.content.name}}</h2>
          <p>{{visitorInfo.content.summary}}</p>
          <br />
        </div>
      <div class="form-group">
        <label class="col-lg-12 control-label">{{translations.final.first_name}}</label>
        <div class="col-lg-12">
          <input type="text" class="form-control" ng-model="visitorInfo.first_name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-12 control-label">{{translations.final.last_name}}</label>
        <div class="col-lg-12">
          <input type="text" class="form-control" ng-model="visitorInfo.last_name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-12 control-label">{{translations.final.email}}</label>
        <div class="col-lg-12">
          <input type="email" class="form-control" ng-model="visitorInfo.email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <p><a href="" ng-click="submitGrowthChallenge()" class="button button-narrow">{{translations.final.submit}}</a></p>
        </div>
      </div>
    </div>
    <div class="container" ng-show="growthChallengeSubscribe">
      <h1>{{campaign.growthspace.title}}</h1>
      <p>{{translations.final.thank_you}}</p>
    </div>
  </div>
</section>
<section ng-if="campaign.share.enabled">
  <div id="content-secondary-section" class="message share-message">
    <div class="container">
      <div class="share-icons">
        <a href="" ng-if="campaign.share.email" ng-click="toggleEmailForm()"><img src="<%= image_url("icon_email.png") %>" alt="Email" /></a>
        <a href="" ng-if="campaign.share.facebook" ng-click="facebookShare(visitorInfo.url)"><img src="<%= image_url("icon_facebook.png") %>" alt="Facebook" /></a>
        <a href="" ng-if="campaign.share.twitter" ng-click="twitterShare(visitorInfo.url)"><img src="<%= image_url("icon_twitter.png") %>" alt="Twitter" /></a>
        <a href="" ng-if="campaign.share.link" ng-click="linkShare(visitorInfo.url)"><img src="<%= image_url("icon_link.png") %>" alt="Link" /></a>
      </div>
      <h2>{{campaign.share.title}}</h2>
      <p>{{campaign.share.description}}</p>
    </div>
  </div>
</section>
<section ng-show="showEmailForm">
  <div id="signup-message">
    <div class="container">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-3 control-label">{{translations.final.first_name}}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="visitorInfo.first_name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{translations.final.last_name}}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="visitorInfo.last_name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{translations.final.email}}</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" ng-model="visitorInfo.email">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">{{translations.final.friends_first_name}}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="invitee.first_name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{translations.final.friends_last_name}}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="invitee.last_name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{translations.final.friends_email}}</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" ng-model="invitee.email">
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-3 control-label">{{translations.final.message}}</label>
          <div class="col-sm-9">
            <textarea class="form-control" style="height:140px;" ng-model="email.message"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="visitorInfo.notify_me_on_share"> {{translations.final.notify_me}}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-default" ng-click="sendEmailShare()">{{translations.final.send_invite}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<section ng-if="campaign.community.enabled">
  <div id="signup-message">
    <div class="container">
      <!--<div class="video-wrapper-small"></div>-->
      <h2>{{campaign.community.title}}</h2>
      <p>{{campaign.community.description}}</p>
      <p><a ng-href="{{campaign.community.permalink}}" class="button button-narrow">{{translations.final.learn_more}}</a></p>
    </div>
  </div>
</section>