<!DOCTYPE html>
<html>
  <head>
    <title>404 Not Found | WatchThinkChat</title>
    <%= stylesheet_link_tag "application/application", media: "all" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  </head>
  <body class="no_campaign">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
